<!--
    I could set the text as input to re-use this component.
    But I think it's like the typical cookie message where the text is always the same. 
-->

<div *ngIf="messageEnabled" id="container" >
    <div>
        <table>
            <tr>
                <td>
                    <p>
                        <span class="bold">IMPORTANT</span>: This is a little project limited only to the development of only one complex feature. This was my first step into Angular framework. I intended this as a challenge of 48h. At first, I did some courses in about 48h then developed this application in less than other 48h. I really liked Angular so much because of its closed file structure rules. I think it makes this technology quite scalable!
                    </p>
                </td>
                <td>
                    <a (click)="onClose()" id="closeButton">X</a>
                </td>
            </tr>
        </table>
    </div>



</div>

