
<div class="container">
    <h1>User documentation</h1>
    
    <p>
        <span style="font-weight: bolder;">IMPORTANT!!</span> Activating "fill full width" toggle AFTER editing column size will not work. This is because it's been designed to be activated or deactivated by default. The toggle button is a developer tool. If you want to activate this mode but you have edited some column size, refresh the page first. 
    </p>

    <h2>Edit cells</h2>
    
    <ul>
        <li>
            Click over a cell and type to edit.
        </li>
        <li>
            Press <span class="key-indicator">Tab</span> to edit the next (right) cell.
        </li>

        <li>
            Press <span class="key-indicator">Shift</span> + <span class="key-indicator">Tab</span> to edit the previous (left) cell.
        </li>

        <li>
            Press <span class="key-indicator">&#8593;</span> to edit the upper cell.
        </li>

        
        <li>
            Press <span class="key-indicator">&#8595;</span> to edit the bottom cell.
        </li>

        
    </ul>
    <img src="./assets/images/userguide/edit.gif" alt="">
    

    <h2>Resize columns</h2>
    <ul>
        <li>
            Click at the edge of a column header and drag to edit column's width.
        </li>
        <li>
            Yes, you can resize even when the table is overflowed.
        </li>
    </ul>
    <img width="400px" src="./assets/images/userguide/resize3.gif" alt="">
    

    <h2>Full-fill mode</h2>
    <ul>
        <li>
            Activate the toggle button to make let the table be full-filled.
        </li>

        <li>
            Due to aesthetics reasons, if there are too few columns, the table will not get fully filed. 
        </li>
       
    </ul>
    <img src="./assets/images/userguide/fullfill.gif" alt="">
    
    <h2>Load/Save CSV</h2>
    <ul>
        <li>
            Press Save as CSV to download the file parsed to CSV format.
        </li>
        <li>
            Press Load CSV and select a file to fill the table with the content of the file.
        </li>
    </ul>
    <img src="./assets/images/userguide/loadsave.gif" alt="">
    
    <h2>Add & remove columns and rows</h2>
    <ul>
        <li>
            Click on a row/column letter indicator > A dropdown menu will be shown > Select the "Delete row/column" option. 
        </li>
        <li>
            Click in the left "+" button to add a column.
        </li>
        <li>
            Click in the bottom "+" button to add a row.
        </li>
    </ul>
    <img src="./assets/images/userguide/addremove.gif" alt="">

</div>
