<app-fixedwarning></app-fixedwarning>
<div fxLayout="row" fxLayout.sm="column" style="padding: 1rem;">
    <mat-card fxLayout="column" fxFlex="25" style="margin: 0.5rem;">
        <mat-card-title>Dynamic Table</mat-card-title>
        <a target="blank" href="https://excalidraw.com/#json=fzwbBABHN7-ZnWM_hctLN,mupaDwxVuZ1eSUwzAcSjCw"
            style="margin: 1rem"><img mat-card-image src="/assets/excalidraw.png" width="100%" /></a>
        <a target="blank" href="https://excalidraw.com/#json=fzwbBABHN7-ZnWM_hctLN,mupaDwxVuZ1eSUwzAcSjCw"
            style="margin-bottom: 12px; display: block;">See
            wireframe</a>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
    <mat-card fxLayout="column" fxFlex="75" style="margin: 0.5rem;">
        <mat-card-title>Output</mat-card-title>
        <mat-card-content>
            <dynamic-table></dynamic-table>
        </mat-card-content>
    </mat-card>
</div>